
@model Abuyukkilic.Mvc.WebUI.Entity.Contact
@{
    ViewBag.Title = "Iletisim";
}


<div class="container">
    <h2>Iletisim</h2>
    <hr />
    <div class="row">
        <div class="col-md-12">
            @if (ViewData["result"] != null)
            {
                if (ViewData["result"]=="true")
                {
                    <div class="alert alert-success">Mail başarıyla gönderildi.</div>
                }else
                {
                    <div class="alert alert-danger">Mail gönderme başarısız.</div>
                }

            }
            


            @using (Html.BeginForm("Iletisim", "Contact", FormMethod.Post))
             {
                 @Html.AntiForgeryToken()
                 <div class="form-group">
                     <label for="EmailAddress">Eposta</label>
                     <input type="email" class="form-control" name="EmailAddress" id="EmailAddress" aria-describedby="emailHelp" placeholder="Email Metni...">
                     <small id="emailHelp" class="form-text text-muted">Size geri dönüş yapabilmemiz için gereklidir.</small>
                 </div>

                 <div class="form-group">
                     <label for="AdSoyad">Ad Soyad</label>
                     <input type="text" class="form-control" name="AdSoyad" id="AdSoyad" placeholder="Adınız Soyadınız">
                 </div>

                 <div class="form-group">
                     <label for="Subject">Konu</label>
                     <input type="text" class="form-control" name="Subject" id="Subject" placeholder="Konu">
                 </div>

                 <div class="form-group">
                     <label for="EmailContent">Mail İçeriği</label>
                     <textarea class="form-control" name="EmailContent" id="EmailContent" rows="5"></textarea>
                 </div>
               
                 <div class="form-group">
                     <button class="btn btn-primary">Mesaj Gönder</button>
                 </div>
             }


        </div>
    </div>
</div>

