@model Abuyukkilic.Mvc.WebUI.Models.Cart


<ul class="navbar-nav my-2 my-lg-0">

    <li class="nav-item text-light btn-sm">
        <a class="nav-link" href="/Cart">
        <i class="fa fa-cart-plus"></i>
        (@Model.CartLines.Count)
        </a>
    </li>
    
   
</ul>